<div class="container mt-5">
  <h2 class="text-center mb-4">Cours - UESMK</h2>

  <!-- Choix établissement -->
  <div class="mb-4">
    <label class="form-label fw-bold">1️⃣ Choisir un établissement</label>
    <select class="form-select" [(ngModel)]="etabChoisi" (change)="formationChoisie=null; filiereChoisie=null">
      <option [ngValue]="null">-- Sélectionner --</option>
      <option *ngFor="let e of etablissements" [ngValue]="e">{{ e.nom }}</option>
    </select>
  </div>

  <!-- Choix formation -->
  <div class="mb-4" *ngIf="etabChoisi">
    <label class="form-label fw-bold">2️⃣ Choisir le type de formation</label>
    <select class="form-select" [(ngModel)]="formationChoisie" (change)="filiereChoisie=null">
      <option [ngValue]="null">-- Sélectionner --</option>
      <option *ngFor="let f of etabChoisi.formations" [ngValue]="f">{{ f.type }}</option>
    </select>
  </div>

  <!-- Choix filière -->
  <div class="mb-4" *ngIf="formationChoisie">
    <label class="form-label fw-bold">3️⃣ Choisir la filière</label>
    <select class="form-select" [(ngModel)]="filiereChoisie">
      <option [ngValue]="null">-- Sélectionner --</option>
      <option *ngFor="let fil of formationChoisie.filieres" [ngValue]="fil">{{ fil.nom }}</option>
    </select>
  </div>

  <!-- Bouton -->
  <div class="text-center" *ngIf="filiereChoisie">
    <button class="btn btn-success px-4" (click)="ouvrirDrive()">📂 Ouvrir le Drive</button>
  </div>
</div>
<br><br><br><br><br><br><br>