<div class="container mt-5">
  <h2 class="text-center mb-4">📞 Contact UESMK</h2>

  <div class="card p-4 shadow-sm contact-card">
    <p><strong>Email :</strong> <a [href]="'mailto:' + email">{{ email }}</a></p>
    <p><strong>Téléphone :</strong> {{ telephone }}</p>

    <!-- Bouton WhatsApp -->
    <button class="btn btn-success mb-3" (click)="openWhatsApp()">
      <i class="bi bi-whatsapp"></i> Discuter sur WhatsApp
    </button>

    <!-- Réseaux sociaux -->
    <div class="social-links mt-3">
      <a *ngFor="let social of socials" 
      [attr.href]="social.url" target="_blank" 
      class="social-icon">
        <i [class]="social.icon"></i>
      </a>
    </div>
  </div>
</div>
<br><br><br><br>