<nav class="navbar navbar-expand-lg bg-light navbar navbar-light" style="background-color: #a9aeb1;">
  <div class="container-fluid px-5 shadow p-3 mb-5 bg-white rounded">
    <!-- Logo à gauche -->
    <a class="navbar-brand" href="#">USEMK</a>

    <!-- Bouton toggle pour les petits écrans -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu de la navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Liste et bouton alignés à droite -->
      <div class="d-flex ms-auto align-items-center">
        <ul class="navbar-nav me-2">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="documents">Documents</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="universite">Université</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="activites">Activités</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="courati">Courati</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="equipes">A propos USEMK</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" routerLink="contact">Contact</a>
          </li>
             <button class="btn btn-outline-success" type="submit">Arabe</button>
        </ul>
      </div>
    </div>
  </div>
</nav>
