<nav class="navbar navbar-expand-lg modern-navbar fixed-top">
  <div class="container-fluid px-5">
    <a class="navbar-brand d-flex align-items-center fw-bold fs-4" routerLink="home">
      <img src="favicons.ico" alt="USEMK Logo" class="logo-img me-2">
      UESMK
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

 <div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav ms-auto align-items-lg-center">
    <li class="nav-item"><a class="nav-link" routerLink="" (click)="closeNavbar()">{{ 'navbar.home' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="documents" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.documents' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="universite" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.universite' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="activites" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.activites' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="courati" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.courati' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="equipes" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.equipes' | translate }}</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="contact" routerLinkActive="active-link" (click)="closeNavbar()">{{ 'navbar.contact' | translate }}</a></li>
    
    <li class="nav-item ms-lg-3">
      <button class="btn btn-modern px-3" (click)="toggleLanguage()">
        {{ currentLang === 'fr' ? 'العربية' : 'Français' }}
      </button>
    </li>

    <li class="nav-item ms-lg-2">
      <button class="btn btn-icon" (click)="toggleTheme()">
        <i class="bi" [class.bi-sun]="isDarkMode" [class.bi-moon]="!isDarkMode"></i>
      </button>
    </li>
  </ul>
</div>
  </div>
</nav>